<!-- <%= JSON.stringify(locals) %> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DillyDally</title>

    <!-- External CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Externla CSS-->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <!-- External Font -->
    <link href="https://fonts.googleapis.com/css?family=Fugaz+One" rel="stylesheet">

    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/login_register.css" type="text/css" />
    <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />

    <!-- App Stylesheets -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <nav>
      <span class="header">DillyDally</span>
           <% if (!user) { %>
        
        <button class="registerbutton">register</button>
        <button class="loginbutton">login</button>

        <div class="loginform">
          <form action='/login' Method='POST'>
            <h4>Login:</h4>
            <textarea type="text" name='email' placeholder="email"></textarea>
            <input type="password" name='password' placeholder="password">
            <button>submit</button>
          </form>
        </div>
        <div class="registerform">
          <form action='/register' Method='POST'>
            <h4>Register:</h4>
            <textarea type="text" name='name' placeholder="username"></textarea>
            <textarea type="text" name='email' placeholder="email"></textarea>
            <input type="password" name='password'placeholder="password">
            <button>submit</button>
          </form>
        </div>

        <body> </body>

        <% }else { %>
   
        <form class="logoutform" method='POST' action='/logout' >
          <button type='submit' name='logout'>logout</button></form>
          <button class="edituserbutton">edit user</button>

          <div class="edituserform">
              <form action='/users/<%= user.id %>/edit' Method='POST'>
              <h4>Edit User:</h4>
              <textarea type="text" placeholder="new email"></textarea>
              <input type="password" placeholder="new password">
              <button>submit</button>
            </form>
          </div>

  </nav>
  <body>
  <section class="itemList"> 
      <div class="loggedin"> Welcome, <%= user.name %></div>
    <form class="w-100" action='/todo/new' Method='POST'> 
      <textarea name="text" placeholder="What were you recommnded?"></textarea>
      <button>submit</button>
    </form>
   <div> <span class="emptyError">Please type a recommendation!</span> </div>
  
   <div class="popup-content">
      <h4>Edit Catagory</h4>
      <form class="editcategory" method='POST' action='/todo/:id/edit' >

      </form>
  
      <button class="close">Close</button>    
  </div>
  

  <div class="row">


      <ul class="Food">
          <h4>To Eat</h4>

        </ul>

      <ul class="Product">
          <h4>To Buy</h4>

        </ul>

      <ul class="Film">
          <h4>To Watch</h4>
    
        </ul>

      <ul class="Book">
          <h4>To Read</h4>
      
        </ul> 
       

  </div>
</div>
</body>

<% } %>


      
<footer> </footer>
</html>


