$font-stack:     'Fugaz One', cursive;

.loggedin {
font-size:200%;
}
  .popup-content {
    font-family: $font-stack;
    width: 35em;
    float:none;
    display:inline-block;

  h4 {
    font-family: inherit;

  }
    button {
      margin: .5em
    }

  }
  
  .loginform, .registerform, .edituserform {
    float: right;
    margin-top: 5em;
    padding: 1em;
    background: #82CFE3;
    width: 200px;
    height: auto;
    display: none;

    textarea, input {
      width: 175px;
    }

    h4 {
      font-family: inherit;
    }
    button {
      float: right;
      margin: 1em 0 0 0;
      height: 1.5em;
    }
  }

  .popup-content {
    display: none;
    background:#9ACCD3;
    margin: auto;

  }

