$font-stack:     'Fugaz One', cursive;

.errormsg {

  font-size: 90%;
  display:none;

}


.loggedin {
font-size:200%;
}

.itemname {
  font-family: $font-stack;
}
  .popup-content {
    font-family: $font-stack;
    font-size: 100%;
    width: auto;
    float: left;
    border-radius: 10px;
    padding: .5em;

  h4 {
    font-family: inherit;

  }
    button {
      margin: .5em;
    }

  }

  .close {
    font-size: 100%;
  }

  .col-sm {
    width: 33%;

    }
  
  .loginform, .registerform, .edituserform {
    float: right;
    margin-top: 5em;
    padding: 1em;
    background: #82CFE3;
    width: 200px;
    height: auto;
    display: none;

    textarea, input {
      width: 175px;
    }

    h4 {
      font-family: inherit;
    }
    button {
      float: right;
      margin: 1em 0 0 0;
      height: 1.5em;
    }
  }

  .popup-content {
    display: none;
    background:#9ACCD3;
    margin: auto;

  }

