
  .loginform, .registerform, .edituserform {
    float: right;
    margin-top: 5em;
    padding: 1em;
    background: #82CFE3;
    width: 175px;
    height: auto;
    display: none;

    textarea, input {
      width: 150px;
    }

    h4 {
      font-family: inherit;
    }
    button {
   
      margin: 0 0 1em 0;
      height: 1.5em;
    }
  }

  .popup-content {
    display: none;
    background:#9ACCD3;
    margin: auto;

  }

