
 html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

 nav {

  height: 5em;
  background: #9ACCD3;
  width: 100%;
  padding: 0 2em 0 2em;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1;
  overflow: visible;


  .header {
    line-height: 2.5em;
    float: left;
    color: #e8fdff;
    margin-left: 1em;
    font-size: 200%;
  }

 
  .loginform {
    display:none;

  }
  
  .registerform {
    display: none;

  }

  .loginform, .registerform {
    float: right;
    // top: 0;
    // bottom: 0;

    margin-top: 5em;
    // margin-left: 5em;
    // margin-top: 3.65em;
    background: red;
    width: 250px;
    height: auto;

    textarea {
      width: 150px;
    }

    h4 {
      font-family: inherit;
    }
    button {
      height: 1.5em;
      margin-bottom: 1em;
    }

  }
    button {
      margin: 1em 0 0 1em ;
      height: 2em;
      width: 6em;
      color: #9ACCD3;
      border: 1px solid #000000;
      background: #EBFAFD;
      float: right;
      padding: 0 0 0 0;
      font-family: inherit;
      font-size: 1em;
      border-radius: 10px;
      
   
  }

  button:hover {
      background: #ffffff;
  }

  
}

@media screen 
// and (min-width: 0px)
and (max-width: 742px) {

  nav .loginform, .registerform {
    margin-top: 5em;
  
    }
   
  }